/******************************************/
/************* Base Styles  ***************/
/******************************************/

body {
  font-family: 'Helvetica-Neue', sans-serif;
  margin: 0;
  font-weight: 200;
  /*background-color: #f64161;*/
}

main {
  text-align: center;
}

li {
  list-style: none;
}

h2, p, h3, h1, h4 {
  color: #444
}

.siteTitle {
  color: white;
}

button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  text-align: center;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.hoverColorChange:hover {
  color: #2980b9;
}

.imageContainer {
  overflow: hidden;
  border-radius: 50%
}

.btn {
  /*border: solid 2px #2ecc71;*/
  color: white;
  border-radius: 3px;
  padding: 12px 20px;
  box-sizing: border-box;
  margin: 30px;
  width: 250px;
  letter-spacing: 1px;
  background-color: #38e280;
}

.btn:hover {
  opacity: 0.8;
}

.buttonGroup {
  display: flex;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

/******************************************/
/************* Header & Nav ***************/
/******************************************/

.header {
  background-color: #f64161;
  color: white;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}

.header h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f64161;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding-bottom: 12px;
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}

nav ul li {
  display: inline-block;
}

nav li {
  padding: 0 50px;
}

.clear {
  clear: both;
  height: 70px;
}

.icons {
  width: 35px;
}

.navButton {
  color: white;
  margin-top: 0;
}

/******************************************/
/************* DashBoard ******************/
/******************************************/

.lifeScores {
  display: inline-block;
}

.lifestyle:nth-child(even), .flop:nth-child(even) {
  background-color: #ecf0f1;
}

.lifestyle h4 {
  margin-top: 0;
}

.lifestylePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.currentUser {
  color: #f64161;
  font-weight: bolder;
  border: solid 1px #95a5a6;
}

.user {
  padding: 15px 35px;
  border-radius: 3px;
  margin: 0 5px;
  margin-bottom: 5px;
  box-sizing: border-box;

  /*display: flex;*/
  /*justify-content: space-between;
  align-items: center;*/
  /*border: solid 1px #95a5a6*/

}

.usernameLink {
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
  /*color: #2980b9;*/
}

.usernameLink:hover {
  color: #3498db;
}

.userThumbnail {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.dashboardLoader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboardButtons {
  background-color: #E4F1FE;
}

/******************************************/
/********* Lifestlyle Flops ***************/
/******************************************/

.flopPic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.lifestyleHeader {
  background-color: #E4F1FE;
  padding: 20px 20px 0 20px;
  margin: 0;
  font-size: 1.1em;
  font-weight: lighter;
  box-sizing: border-box;
}

.lifestyleHeader p {
  padding: 0;
  margin: 0;
}

.lifestyleHeader h2 {
  font-weight: 200;
}
.lifestyle, .flop {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.topThree {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  color: #2c3e50;
  margin: 20px auto 0 auto;
  flex-wrap: wrap;
}

.flop {
  padding: 15px 0;
}

.create {
  width: 100%;
  background-color: #2ecc71;
  position: relative;
  left: 0;
  height:50px;
}

/******************************************/
/********* Single Flops *******************/
/******************************************/

.singleflopPic {
  position: relative;
  max-width: 40%;
  object-fit: cover;
}

/******************************************/
/************* Profile ********************/
/******************************************/

.profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profile {
  display: inline-block;
}

.delete {
  background-color: #ff3333;
}

.flopRank {
  background-color: #f64161;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.flopRank h2 {color:#fff}
.flopRank h2::before {
  content: "#";
  font-size: 80%;
  vertical-align: middle;
}

.flopContainer {
  text-align: center;
  margin: 10px;
  margin-bottom: 50px;
}

/******************************************/
/************* Login **********************/
/******************************************/
.signupButton {
  color: white;
  background-color: #f64161;
  margin: 20px auto;
  margin-top: 100px;

}
.signupButton:hover, .loginButton:hover {
  color: lightgray;
}

.loginTitle {
  color: white;
  font-size: 3em;
  background-color: #f64161;
}

.signupTitle {
  padding-top: 3%;
  padding-bottom: 6%;
  margin: 0;
}


.signupPage {
  margin: 0;
  padding: 0;
}

.signupText {
  color: white;
}

.loginSubtitle {
  color: white;
  margin-top: -25px;
}

.loginPage {
  background-color: #f64161;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  /*margin-top: 150px;*/
  padding: 10px 0;
  border-radius: 3px;
  /*margin-bottom: 200px;*/
  text-align: center;
}

.loginButton {
  background-color: #4CAF50; /* Green */
  border-radius: 3px;
  border: none;
  color: white;
  width: 302px;
  padding: 15px 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.username, .password {
  display: block;
  height: 30px;
  width: 60px;
  margin: 10px auto;
  font-size: 1.3em;
  padding: 7px 0;
}

.hidden {
  display: none
}

.loadingPulse {
  margin-top: 20px;
}

/******************************************/
/************* Upload Flop ****************/
/******************************************/

.form-content {
  margin-bottom: 80px;
}

.upload_widget_opener {
  background-color: white;
  border: 1px solid #ccccb3;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.upload_widget_opener p {
  color: #ccccb3;
  font-size: 40px;
}


/******************************************/
/************* VOTES HANDLING *************/
/******************************************/

.downvote {
  background-color: #f64161; /*Krang's Pink*/
  opacity: 0.8;
  color: white;
}
.upvote {
  background-color: #2ecc71; /*Green*/
  opacity: 0.8;
  color: white;
}

.userHasVoted {
  box-sizing: border-box;
  border: solid 3px black;
  opacity: 1;
}

.disabled {
  cursor: not-allowed;
}
